@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700);

a,
address,
body,
center,
div,
embed,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
label,
nav,
small,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

nav {
	display: block
}

body {
	line-height: 1
}

ul {
	list-style: none
}

body {
	-webkit-text-size-adjust: none
}

input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none
}

html {
	box-sizing: border-box
}

*,
:after,
:before {
	box-sizing: inherit
}

body {
	background: #f0f0f0
}

body.is-preload *,
body.is-preload :after,
body.is-preload :before {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important
}

body,
input {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	color: #777;
	line-height: 1.65em;
	font-size: 15pt
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	text-transform: uppercase;
	color: #888
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: none;
	border: 0
}

h2 {
	font-size: 1.65em;
	font-weight: 400;
	letter-spacing: 4px;
	margin: 0 0 1.5em 0;
	line-height: 1.75em
}

h3 {
	font-size: 1em;
	letter-spacing: 2px;
	margin: 0 0 1.25em 0
}

a {
	-moz-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
	transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
	color: #666;
	text-decoration: none;
	border-bottom: solid 1px #ddd
}

a:hover {
	color: #ed786a;
	border-bottom-color: rgba(255, 255, 255, 0)
}

hr {
	border: 0;
	border-top: solid 1px #ddd
}

ul {
	margin-bottom: 2em
}

.container {
	margin: 0 auto;
	max-width: 100%;
	width: 70em
}

@media screen and (max-width:1680px) {
	.container {
		width: 68em
	}
}

@media screen and (max-width:1280px) {
	.container {
		width: calc(100% - 80px)
	}
}

@media screen and (max-width:980px) {
	.container {
		width: calc(100% - 100px)
	}
}

@media screen and (max-width:736px) {
	.container {
		width: calc(100% - 40px)
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch
}

.row>* {
	box-sizing: border-box
}

.row.aln-center {
	justify-content: center
}

.row>.col-1 {
	width: 8.33333%
}

.row>.col-2 {
	width: 16.66667%
}

.row>.col-3 {
	width: 25%
}

.row>.col-4 {
	width: 33.33333%
}

.row>.col-5 {
	width: 41.66667%
}

.row>.col-6 {
	width: 50%
}

.row>.col-7 {
	width: 58.33333%
}

.row>.col-8 {
	width: 66.66667%
}

.row>.col-9 {
	width: 75%
}

.row>.col-10 {
	width: 83.33333%
}

.row>.col-11 {
	width: 91.66667%
}

.row>.col-12 {
	width: 100%
}

.row {
	margin-top: -50px;
	margin-left: -50px
}

.row>* {
	padding: 50px 0 0 50px
}

@media screen and (max-width:1680px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch
	}

	.row>* {
		box-sizing: border-box
	}

	.row.aln-center {
		justify-content: center
	}

	.row {
		margin-top: -50px;
		margin-left: -50px
	}

	.row>* {
		padding: 50px 0 0 50px
	}
}

@media screen and (max-width:1280px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch
	}

	.row>* {
		box-sizing: border-box
	}

	.row.aln-center {
		justify-content: center
	}

	.row {
		margin-top: -40px;
		margin-left: -40px
	}

	.row>* {
		padding: 40px 0 0 40px
	}
}

@media screen and (max-width:980px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch
	}

	.row>* {
		box-sizing: border-box
	}

	.row.aln-center {
		justify-content: center
	}

	.row>.col-1-medium {
		width: 8.33333%
	}

	.row>.col-2-medium {
		width: 16.66667%
	}

	.row>.col-3-medium {
		width: 25%
	}

	.row>.col-4-medium {
		width: 33.33333%
	}

	.row>.col-5-medium {
		width: 41.66667%
	}

	.row>.col-6-medium {
		width: 50%
	}

	.row>.col-7-medium {
		width: 58.33333%
	}

	.row>.col-8-medium {
		width: 66.66667%
	}

	.row>.col-9-medium {
		width: 75%
	}

	.row>.col-10-medium {
		width: 83.33333%
	}

	.row>.col-11-medium {
		width: 91.66667%
	}

	.row>.col-12-medium {
		width: 100%
	}

	.row {
		margin-top: -50px;
		margin-left: -50px
	}

	.row>* {
		padding: 50px 0 0 50px
	}
}

@media screen and (max-width:736px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch
	}

	.row>* {
		box-sizing: border-box
	}

	.row.aln-center {
		justify-content: center
	}

	.row>.col-1-small {
		width: 8.33333%
	}

	.row>.col-2-small {
		width: 16.66667%
	}

	.row>.col-3-small {
		width: 25%
	}

	.row>.col-4-small {
		width: 33.33333%
	}

	.row>.col-5-small {
		width: 41.66667%
	}

	.row>.col-6-small {
		width: 50%
	}

	.row>.col-7-small {
		width: 58.33333%
	}

	.row>.col-8-small {
		width: 66.66667%
	}

	.row>.col-9-small {
		width: 75%
	}

	.row>.col-10-small {
		width: 83.33333%
	}

	.row>.col-11-small {
		width: 91.66667%
	}

	.row>.col-12-small {
		width: 100%
	}

	.row {
		margin-top: -30px;
		margin-left: -30px
	}

	.row>* {
		padding: 30px 0 0 30px
	}
}

.image {
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
	display: inline-block;
	border: solid 6px #ebebeb !important
}

.image:hover {
	opacity: .9
}

.image img {
	display: block;
	width: 100%
}

.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 3.5em 0
}

ul {
	list-style: disc;
	padding-left: 1em
}

ul.actions {
	margin-top: 2.5em;
	clear: both;
	list-style: none;
	padding-left: 0
}

form label {
	font-weight: 600;
	text-transform: uppercase;
	color: #888;
	display: block;
	margin: 0 0 1em 0
}

form input[type=email],
form input[type=password],
form input[type=text] {
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	-webkit-appearance: none;
	display: block;
	border: 0;
	background: #e8e8e8;
	width: 100%;
	box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, .1);
	border-radius: 4px;
	line-height: 1.25em;
	padding: .75em 1em .75em 1em
}

form input[type=email]:focus,
form input[type=password]:focus,
form input[type=text]:focus {
	background: #f0f0f0
}

form ::-webkit-input-placeholder {
	color: #555 !important;
	line-height: 1.35em
}

form :-moz-placeholder {
	color: #555 !important
}

form ::-moz-placeholder {
	color: #555 !important
}

form :-ms-input-placeholder {
	color: #555 !important
}

form ::-moz-focus-inner {
	border: 0
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	-webkit-appearance: none;
	position: relative;
	display: inline-block;
	background: #ed786a;
	color: #fff !important;
	text-transform: uppercase;
	border-radius: 4px;
	border: 0;
	outline: 0;
	font-size: 1em;
	box-shadow: .125em .175em 0 0 rgba(0, 0, 0, .125);
	font-weight: 600;
	text-align: center;
	font-size: .85em;
	letter-spacing: 2px;
	padding: .85em 2.75em .85em 2.75em
}

.button.icon:before,
button.icon:before,
input[type=button].icon:before,
input[type=reset].icon:before,
input[type=submit].icon:before {
	position: relative;
	padding-right: .75em;
	opacity: .5;
	top: .05em
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
	background: #fd887a
}

.button:active,
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
	background: #ed786a
}

.button.alt,
button.alt,
input[type=button].alt,
input[type=reset].alt,
input[type=submit].alt {
	background: #878787
}

.button.alt:hover,
button.alt:hover,
input[type=button].alt:hover,
input[type=reset].alt:hover,
input[type=submit].alt:hover {
	background: #979797
}

.button.alt:active,
button.alt:active,
input[type=button].alt:active,
input[type=reset].alt:active,
input[type=submit].alt:active {
	background: #878787
}

.icon {
	text-decoration: none;
	position: relative;
	text-decoration: none
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400
}

.icon:before {
	line-height: inherit
}

.icon>.label {
	display: none
}

.icon.solid:before {
	font-weight: 900
}

#nav {
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	cursor: default
}

#main {
	position: relative;
	overflow: hidden;
	background: #fff;
	padding: 6em 0
}

@media screen and (max-width:1680px) {

	body,
	input {
		font-size: 13pt
	}
}

@media screen and (max-width:1280px) {

	body,
	input {
		font-size: 12pt
	}

	h2 br,
	h3 br,
	h4 br,
	h5 br,
	h6 br {
		display: none
	}

	#main {
		padding: 4em 0
	}
}

@media screen and (max-width:980px) {

	body,
	html {
		overflow-x: hidden
	}

	#nav {
		display: none
	}
}

@media screen and (max-width:736px) {

	body,
	input {
		font-size: 11pt
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.2em;
		letter-spacing: 2px;
		text-align: center;
		margin: 0 0 1em 0
	}

	h2 br,
	h3 br,
	h4 br,
	h5 br,
	h6 br {
		display: none
	}

	.image.featured {
		margin: 0 0 1.5em 0
	}

	.button,
	button,
	input[type=button],
	input[type=reset],
	input[type=submit] {
		letter-spacing: 2px;
		display: block;
		padding: 1em 0 1em 0;
		width: 100%
	}

	#main {
		padding: 2em 0
	}
}